/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
soketi-config.json
firebase-config.json
package-lock.json


/public/archivos
/public/images
/public/uploads/scorm
/public/js/app.js
/public/js/documentation_page.js
/public/css/app.css

/public/mix-manifest.json
/public/css/*.map
/public/js/*.map
/public/fonts/vendor/*

/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.remoto

/public/fonts/vendor/@mdi