// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
//@import 'variables';

// Global Components
@import "global_components";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.navbar-laravel {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/*Comentado para ajustar el menú con Vue (para que se extienda en todo el alto por defecto según el contenido)*/
/*.v-application {
	max-height: 0 !important;
}*/

.v-application--wrap {
	background: #f8f8fb;
}

.v-dialog .v-form {
	padding-right: 16px !important;
	padding-left: 16px !important;
	padding-top: 5px !important;
}

.v-dialog .v-card__text::-webkit-scrollbar,
.reports-menu .v-slide-group__wrapper::-webkit-scrollbar,
body::-webkit-scrollbar {
	width: 12px; /* width of the entire scrollbar */
}

.reports-menu .v-slide-group__wrapper::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
	// background: transparent; /* color of the tracking area */
	background-color: rgba(0, 0, 0, 0.05); /* color of the scroll thumb */
}

.reports-menu .v-slide-group__wrapper::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2); /* color of the scroll thumb */
	border-radius: 20px;
	/* border: 3px solid orange; creates padding around scroll thumb */
}

.v-dialog .v-card__text::-webkit-scrollbar-track{
    background-color: rgba(181, 181, 181, 0.2);
    // background-color: rgba(125, 219, 216, 0.2);
}
.v-dialog .v-card__text::-webkit-scrollbar-thumb{
	background-color: rgba(181, 181, 181, 0.9);
    // background-color: rgba(125, 219, 216, 0.9);
}
.minw408 {
    min-width: 408px;
}
.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
    border-color: #D9D9D9;
}
.v-chip .v-chip__content button.v-icon.mdi-close-circle{
    top: -2px;
}
.v-date-picker-table {
	height: auto !important;
}

.form-alert{
    .v-alert__wrapper{
        align-items: start !important;
        .v-alert__dismissible{
            margin: 1px 0 0 0 !important;
        }
    }
    li{
        //list-style: none;
        margin-left: 10px;
    }
}


.reports-menu .v-slide-group__wrapper{
    height: 85vh;
    overflow-y: scroll;
}


.v-list-group.notas-usuarios-list .v-list-group__header .v-list-item__icon.v-list-group__header__append-icon {

    justify-content: flex-start !important;
}

.reports-menu .v-tab {
	font-size: .8rem !important;
}

.checklist-form .v-input .v-icon{
	margin-top: 15px;
}

.default-toggle.default-toggle.v-input--selection-controls{
	flex: auto !important;
    width: 100% !important;
	// margin-top: 15px !important;
}

.login-page .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #a1cbef;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/*

Override Vue Toastification plugin styles

======================================== */

.Vue-Toastification__toast--warning,
.Vue-Toastification__toast--error {
    color: #1A2128 !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    padding: 14px 24px !important;
    min-height: 45px !important;
}

.Vue-Toastification__toast--warning {
    background-color: #ffc107 !important;
}
.Vue-Toastification__toast--error {
    background-color: #CE98FE !important;
}

.Vue-Toastification__toast a:hover,
.Vue-Toastification__toast a {
    color: white !important;
    text-decoration: underline !important;
}

.Vue-Toastification__toast-body {
    font-size: 14px !important;
}

.slider-password .v-messages__message{
    text-align: center;
}

.password-checkbox label{
    margin-bottom: 0 !important;
}

.row-support {
    i.v-icon{
        top: -4px !important;
        font-size: 20px !important;
    }

    margin-bottom: 15px !important;

    // .v-image.v-responsive{
    //     display: inline-block !important;
    //     top: 5px !important;
    // }
}

.support-card-actions {
    i.v-icon{
        top: -3px !important;
    }
}

.workspace-badge .v-badge__badge {
    font-size: 10px !important;
    font-weight: 500 !important;
    height: auto !important;
    padding: 3px 6px !important;
}

.header-menu-session{
    .dropdown-icon-width{
        margin-top: -5px;
    }
}

.text_default {
    color: #434D56;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    line-height: 20px;
    letter-spacing: 0.1px;
    font-size: 13px;
}

.c-default {
    color: #5458EA !important;
}
.font-nunito {
    font-family: "Nunito", sans-serif;
}
.fw-bold {
    font-weight: 700 !important;
}

.list-style-none{
    list-style: none !important;
}

.v-treeview-node__content {
    margin-top: 6px;
}

.text-overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dropzone .dz-preview .dz-details .dz-filename {
    white-space: normal !important;
}

.coming-soon {

    // text-align: right;
    // flex: auto;
    margin-left: 15px;

    small {
        padding: 5px 10px;
        border-radius: 8px;
        background: #fff;
        color: #5458ea;
        // font-size: 13px;
        font-style: normal;
        font-weight: 400;
    }
}

.v-tooltip__content {
    background-color: #fff !important;
    color: #5757EA !important;
    border: 2px solid #5757EA !important;
    border-radius: 10px !important;
    opacity: 0.97 !important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15) !important;
    word-break: initial !important;
}

.table-multimedia {

    tr {

        margin-bottom: 5px !important;
        // border: 1px solid #5757EA !important;
        border: 1px dotted #c4c4c4 !important;
        border-radius: 5px !important;

        td {
            // cursor: pointer !important;
            border-top: none !important;
            // background-color: #e1e1e170 !important;
        }
    }
}

.v-input.v-input--hide-details.v-input--is-disabled .bk_calendar {
    opacity: 0.5;
}

.v-text-field--filled {
    border-radius: 0px !important;
}

.custom-row-checkbox .v-input--checkbox .v-label {
    top: 4px !important;

}

.custom-row-switch .v-input--switch .v-label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/*

Skeletons

---------------------------------------- */

.skeleton {
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

.skeleton:after {
    content: '';
    top: 0;
    transform: translateX(100%);
    width: 100%;
    height: inherit;
    position: absolute;
    z-index: 1;
    animation: slide 2s infinite;
    border-radius: 10px;
}

.skeleton:after {
    background: linear-gradient(
            to right,
            rgba(255,255,255,0) 0%,
            rgba(255,255,255,0.8) 50%,
            rgba(128,186,232,0) 99%,
            rgba(125,185,232,0) 100%
    );
}

.skeleton.purple:after {
    background: linear-gradient(
            to right,
            rgba(210,210,210,0) 0%,
            rgba(210,210,210,0.8) 50%,
            rgba(128,186,232,0) 99%,
            rgba(128,186,232,0) 100%
    );
}

@keyframes slide {
    0% { transform:translateX(-100%) }
    100% { transform:translateX(100%) }
}


// Sidemenu skeletons

.sidemenu-container .skeleton-wrapper {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-top: 84px;
}

.sidemenu-container .skeleton-wrapper .skeleton {
    position: relative;
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
    border-radius: 10px;
    background: #aaa9f2;
}

// Dashboard skeletons

.dashboard.skeleton-wrapper .skeleton {
    background: #e6e6e6;
    border: 7px solid white;
}

.dashboard.skeleton-wrapper .skeleton.module-selector {
    position: relative;
    height: 110px;
}

.dashboard.skeleton-wrapper .skeleton.charts {
    position: relative;
    height: 540px;
}

.dashboard.skeleton-wrapper .skeleton.card2 {
    width: 19%;
    height: 90px;
    position: relative;
}

// Table skeletons


.table-gui.skeleton-wrapper .skeleton {
    background: #e6e6e6;
}

.table-gui.skeleton-wrapper .skeleton.filters-selector {
    position: relative;
    height: 140px;
    border-radius: 10px;
    border: none;
}

.table-gui.skeleton-wrapper .skeleton.charts {
    position: relative;
    height: 540px;
}

.table-gui.skeleton-wrapper .skeleton.header-skeleton {
    // border-top-left-radius: 5px;
    // border-top-right-radius: 5px;
    width: 100%;
    height: 48px;
    border-radius: 3px;
}

.table-gui.skeleton-wrapper .body {
    position: relative;
    background: white;
    padding: 2rem;
}

.table-gui.skeleton-wrapper .body .row {
    height: 70px;
}

.table-gui.skeleton-wrapper .skeleton.bar {
    position: relative;
    height: 20.6px;
    width: 100%;
    border-radius: 15px;
}

.table-gui.skeleton-wrapper .skeleton.icon {
    position: relative;
    height: 20px;
    width: 38px;
    // border-radius: 5px;
}

.roles-tabs {
    .v-tab {
        text-align: left !important;
        justify-content: left !important;
        text-transform: none !important;

    }

    .v-slide-group__content.v-tabs-bar__content {
        justify-content: center!important;
    }

    .v-slide-group__wrapper .container {
        border-right: 1px solid #e7e7e7b8;
    }
    // .v-tab--active {
    //     font-weight: bold;
    // }

    .v-icon {
        margin-top: -5px;
        margin-right: 15px;
    }
    // .container {
    //     direction: rtl;
    // }
}

.section-roles-tabs {

    border: 1px solid #e7e7e7;
}

.v-text-field input {
    font-size: 0.85em;
}

.v-card__title.sticky-card-text{
    position: sticky;
    top: 0;
    z-index: 10;
}

.course-status-subtitles {

    span + span::before {
        content: "|";
        margin: 0 5px;
    }
}

.default-dialog-title {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.p-small-instruction {
    font-size: 0.85em;
}

.med-box-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.med-box-tag {
    // border-radius: 4px;
    // padding: .3rem 2rem !important;
    // background-color: $primary-default-color;
    // font-size: .9rem !important;
    // color: white;

    // border-radius: 1em;
    // padding: 0.3rem 1rem !important;
    // background-color: #b0b1c7;
    // color: white;

    border-radius: 1em;
    padding: 0.2rem 0.7rem!important;
    background-color: #5458eab3;
    color: #fff;
}

// .v-dialog__content {z-index: 99003 !important;}

// .tox-tinymce-aux {
//     z-index: 9999 !important;
// }

.text-line-through {
    text-decoration: line-through;
}

.br-dialog {
    .v-sheet.v-card{
        border-radius: 16px !important;
    }
    .v-card__title.default-dialog-title {
        border-top-left-radius: 16px !important;
        border-top-right-radius: 16px !important;
    }
}
.cursor-pointer {
    cursor: pointer;
}

.bg_card_none .section-expanded .content-background {
    border: none;
    background: none;
}
