html {
	scroll-behavior: smooth;
}

/* body {
	font-family: "Roboto", sans-serif;
} */

select[multiple] {
	background: #fbfbfb;
	border-radius: 2px;
	padding: 7px;
	-moz-appearance: menulist;
	-webkit-appearance: menulist;
	appearance: menulist;
}

select[multiple] option {
	padding: 10px;
	margin-bottom: 5px;
}
.nav-container {
	background: #5458ea;
	width: 225px;
}
.sidemenu-container {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100vh;
	scrollbar-width:thin;
}

/**/
.fz-lg {
	font-size: 1.5em;
}

.color-red {
	color: #ff7676;
}

.btn:disabled {
	color: color-yiq(#796aee);
	background-color: #cacaca;
	border-color: #e8e8e8;
	cursor: default;
}

.btn:disabled:hover {
	color: color-yiq(#796aee);
	background-color: #cacaca;
	border-color: #e8e8e8;
}

.brand_side {
	background-color: #fff;
	padding: 5px 0;
	text-align: center;
}

.brand_side img {
	width: 90%;
}

/**/

.home_mod_tabs .nav-tabs .nav-item {
	margin-bottom: -2px;
}

.home_mod_tabs .nav-tabs .nav-link {
	border: 1px solid #dedede;
	margin: 0;
}

.home_mod_tabs .nav-tabs .nav-link.active {
	border-left: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 2px solid #28314f;
}

.home_mod_tabs .nav-link:hover {
	background: #fff;
	color: #555;
}

.curso_tabs .nav-tabs .nav-link {
	padding: 0.5em 0.7em;
}

/*.breadcrumb-item+.breadcrumb-item::before {
    position: absolute;
    padding: 0;
    top:29px;
    content: "»";
    font-size: 1.5em;
}*/
.breadcrumb {
	/*-ms-flex-wrap: wrap;
    flex-wrap: nowrap;*/
	padding: 0;
}

.breadcrumb-item {
	padding: 10px 0;
	position: relative;
}

.breadcrumb .breadcrumb-item:before {
	position: absolute;
	padding: 0;
	padding-left: 0.5em;
	/*top:29px;*/
	top: 0;
	content: "»";
	font-size: 1.6em;
}

.breadcrumb .breadcrumb-item:first-child:before {
	content: "";
}

.breadcrumb-item + .breadcrumb-item {
	padding-left: 0;
}

.breadcrumb-item span,
.breadcrumb-item strong {
	padding-left: 2.5em;
	display: inline-block;
}

.nav-menu {
	font-size: 0.9em;
}

.form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.custom-select.is-invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.was-validated .form-control:invalid:focus {
	box-shadow: none;
}

.custom-select.is-valid:focus,
.form-control.is-valid:focus,
.was-validated .custom-select:valid:focus,
.was-validated .form-control:valid:focus {
	box-shadow: none;
}

.forgot-pass {
	padding: 0.5em 0;
}

.container-fluid {
	padding: 0 20px;
}

.breadcrumb {
	font-size: 0.9em;
}

.table .bg-dark {
	color: white;
}

/* .imagen_actual {
    width: 70%;
} */
.imagen_actual i {
	font-size: 2em;
}

.imagen_actual img {
	width: 100%;
}

.delete_file_btn {
	cursor: pointer;
	padding: 0.2em 0.5em;
	font-size: 0.8em;
	background: #e0e0e0;
	border-radius: 10px;
	display: table;
	margin-top: 10px;
	color: #555;
}

.delete_file_btn:hover {
	background: #c9c9c9;
	text-decoration: none;
	color: inherit;
}

.msg-alerta {
	position: absolute;
	top: 0;
	right: -20%;
	z-index: 10000;
}

.divider {
	background: #d6d6d6;
	height: 1px;
	width: 100%;
	margin: 6px 0;
}

.resumen {
	padding: 15px 15px;
}

.resumen .row {
	padding: 15px 10px;
}

.resumen .res-aspecto {
	background-color: #343a40;
	color: white;
	padding: 10px;
}

/**/
.morado,
.external {
	color: #1d253d;
}

.naranja {
	background-color: #fda100;
}
/**/
.btn-primary {
	background: #5d5fef !important;
	border: 0 !important;
	color: white !important;
}

.btn-primary:hover {
	background: #4144f1 !important;
}

/* .bg-morado {
	background: #796aee;
	color: white;
}

.bg-morado:hover {
	background-color: #2c32e4;
	color: white !important;
} */

/**/

/**/
.content-inner {
	font-size: 0.95em;
}

section.dashboard-counts .title {
	font-size: 0.95em;
	margin: 0 15px;
}

.dashboard .icon {
	width: 45px;
	height: 45px;
}

.dashboard .icon i {
	font-size: 1.2em;
	/* -webkit-transform: translateY(10px);
    transform: translateY(10px); */
}

.headfixed {
	position: fixed;
	top: 0;
	z-index: 9;
	width: 84vw;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.logout {
	background: #28314f;
	color: white;
}
.enc_descargas a {
	margin-right: 1em;
}
.btn-bigicon {
	padding: 1em;
}
.btn-bigicon i {
	font-size: 1.5em;
}
.btn-mini {
	font-size: 0.9em;
}
.card-img {
	width: 150px !important;
	height: 90px;
	display: inline-flex;
}
.card-img img {
	height: 90px;
	object-fit: contain;
}
.card-icon {
	font-size: 36px;
	color: #20c997;
}
.ml-1 {
	margin-left: 10px !important;
}
option:disabled {
	/*color: white!important;*/
	background: #d2d2d2;
}

.abso {
	position: absolute;
	top: 0;
	left: 0;
}
#pageloader {
	background: rgba(255, 255, 255, 0.8);
	display: none;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 99999999;
    justify-content: center;
    align-items: center;
}

#pageloader img {
	/*left: 50%;*/
	/*margin-left: -32px;*/
	/*margin-top: -32px;*/
	position: absolute;
	/*top: 50%;*/
}
nav.side-navbar ul {
	margin-bottom: 0;
}
footer.main-footer {
	display: none;
}
/**/
.ciclos .item .image {
	width: 80px;
	max-width: 80px;
	height: 55px;
	overflow: hidden;
	border: 1px solid #eef5f9;
}
.ciclos .item img {
	padding: 0;
	border: none;
	width: 100%;
	min-height: 100%;
	object-fit: cover;
}
.ciclos span {
	background: #ff9c78;
	color: white;
	padding: 1px 4px;
	border-radius: 3px;
	font-size: 12px;
	margin-bottom: 3px;
}
.articles .item:nth-of-type(even) {
	/*background: #fafafa;*/
	border-top: none;
	background: none;
}
.articles .item {
	border-top: 1px solid #f1f1f1 !important;
}
.ciclos .item-addnew {
	background: #f3f3f3;
	border: 2px dashed #e6e6e6;
}
.ciclos .card-header {
	background-color: #8d8d8d;
	color: white;
}
.ciclo_btns {
	display: flex;
}
.curso_btns .bg-orange {
	background: #a7ffeb !important;
	border-color: #a7ffeb;
}
.curso_btns .bg-red {
	background: #563d7c !important;
	border-color: #563d7c;
}
.btn-xs {
	font-size: 0.9em;
	padding: 0.3em 0.5em;
}
.ciclos .btn-secondary {
	color: white;
}
/**/
.carre .ca-item {
	padding: 0.5em 0.5em;
	background: #8d8d8d;
	color: white;
	cursor: pointer;
	border-radius: 5px 5px 0 0;
}
.carre .ca-conte {
	padding: 0.5em 1em;
	background: #f5f5f5;
	margin-bottom: 8px;
	border-radius: 0 0 5px 5px;
}
/**/
.cate_cursos .articles a {
	display: inline-block;
}

.cate_cursos .cate_box {
	background: #e8f1ef;
	padding: 20px;
}
.cate_cursos .card1 {
	width: 70%;
}

.cate_cursos .card2 {
	width: 30%;
	border-radius: 0 10px 10px 0;
	background: #f1f1f1;
	/* background:none;
    display: flex;
    flex-direction: row;
    padding: 30px 0;
    margin-bottom: 30px; */
}
.cate_cursos .card2 .car_ciclos {
	flex: 1;
	padding: 15px 5px 15px 5px;
	font-size: 13px;
}
.carre_ciclo {
	border-bottom: 1px solid #e2e2e2;
	padding: 2px 3px;
	/* margin-bottom: 1px; */
	text-align: center;
}
.carre_ciclo span.cc_tit {
	background: rgba(0, 150, 136, 0.6);
	border-radius: 3px;
	display: block;
	color: white;
	padding: 3px;
}
.carre_ciclo span.cc_desc {
	margin-top: 2px;
	background: rgba(214, 211, 211, 0.6);
	border-radius: 3px;
	display: inline-block;
	padding: 3px 5px;
}
.no_selectable {
	pointer-events: none;
}
/**/
.lista_media {
/*	border: 1px solid #5458ea;*/
	display: block;
	background: #f8f9fa;
	padding: 5px 20px;
	border-radius: 5px;
/*	-moz-box-shadow: inset 0 0 10px rgba(220, 220, 220, 0.5);*/
/*	-webkit-box-shadow: inset 0 0 10px rgba(220, 220, 220, 0.5);*/
/*	box-shadow: inset 0 0 10px rgba(220, 220, 220, 0.5);*/
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.lista_media .med_box {
	/* border:1px solid red; */
	text-align: center;
	overflow: hidden;
	cursor: pointer;
}
.lista_media .med_box.selected {
	border: 4px solid #54e69d;
	border-radius: 5px;
}
.lista_media .img_box {
	width: 100%;
	height: 120px;
/*	border: 1px solid rgba(173, 168, 214, 0.5);*/
	border: 1px solid rgb(204 203 213 / 50%);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
    background: #ffffffab;
}
.lista_media span {
	font-size: 12px;
	padding: 1px 2px;
}
.lista_media .img_box span.tag {
	font-size: 11px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 1px 5px;
	border-radius: 1px;
	color: white;
/*	width: 42px;*/
	text-align: center;
	z-index: 10;
}

.lista_media .img_box span.tag2 {
	font-size: 11px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 1px 5px;
	border-radius: 1px;
	color: white;
/*	width: 42px;*/
	text-align: center;
	z-index: 10;
}
.lista_media .loading {
	padding: 30px;
	background: url(../img/loader-rings.svg);
	background-position: center;
	background-repeat: no-repeat;
	width: 90px;
	height: 50px;
	background-size: contain;
	border-radius: 5px;
	margin: auto;
}
.tipo_media {
	display: inline-block;
	padding: 10px 10px;
	width: 100px;
	margin: 5px;
	border: 1px solid #a3a4cc;
	border-radius: 4px;
	background: #eaf8ff;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.tipo_media p {
	margin: 5px 0 0 0;
}
.tipo_media i {
	font-size: 2.1em;
	color: #462a7b;
}
.tipo_media:hover {
	background: #462a7b;
}
.tipo_media:hover i,
.tipo_media:hover p {
	color: #eaf8ff;
}
.input_media {
	padding: 15px;
	border-radius: 7px;
	background: #f9f9f9;
}
.input_media .ele {
	border: 1px solid #dedede;
	padding: 10px;
	border-radius: 5px;
	cursor: move;
}
.input_media .ele span {
	color: #f1f1f1;
	font-size: 0.9em;
	line-height: 0.9em;
	padding: 7px 0;
	border-radius: 5px;
	min-width: 85px;
	text-align: center;
}
.input_media .ele span {
	margin: 0 3px;
}
.input_media .ele span.principal {
	background: #06070e;
}
.input_media .ele span.secundario {
	background: #656b82;
}
.input_media .ele span.adjunto {
	background: #4356e0;
}
.input_media .ele span.embed.true,
.input_media .ele span.descarga.true {
	background: #5fc274;
}
.input_media .ele span.embed.false,
.input_media .ele span.descarga.false {
	background: #df705c;
}
.input_media .icon {
	padding: 10px;
	color: #462a7b;
	font-size: 1.4em;
}
.input_media .rmvele {
	padding: 12px;
	color: #ff7676;
	font-size: 1.2em;
	cursor: pointer;
}
.ui-state-highlight {
	padding: 24px 0;
	border: 2px dashed #eae9ec !important;
	margin: 10px 0;
	border-radius: 5px;
	background: #efeef0 !important;
}
.ui-sortable-helper {
	display: table;
}
.media_sort {
	background: #dcd8e2;
}
/**/
.addinput_modal .modal-dialog {
	max-width: 60%;
}
.media_modal .modal-dialog {
	max-width: 90%;
}
.media_modal .modal-content {
	border-radius: 7px;
}
.msg_valida,
.msg_valida2,
.asg_msg_valida {
	display: none;
}
#med_selected img {
	width: 120px;
	max-height: 120px;
}
.box_selected {
	display: none;
}
.config_box {
	border: 1px solid #d2d2d2;
	margin-bottom: 3px;
	padding: 5px 15px;
	border-radius: 5px;
}
/**/
.btn_select_media {
	cursor: pointer;
}
/**/
.tagcolor {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	vertical-align: middle;
}
/**/
.msg_error {
	display: none;
}
.badge-notify {
	background: #796aee;
	color: #fff;
	position: relative;
	top: -25px;
	left: -30px;
}
.table td,
.table th {
	vertical-align: middle;
}
.media-link:hover {
	text-decoration: none;
}

.mdi.up {
	transform: rotate(-90deg);
}

.mdi.down {
	transform: rotate(90deg);
}

.mdi.lg {
	font-size: 1.5em;
}

.mdi.lg.available:before {
	font-weight: bolder;
}

.mdi.lg.unavailable:before {
	color: gray;
}

ul.order {
	list-style: none;
}

ul.order a[disabled="disabled"] {
	color: gray;
	cursor: initial;
}

ul.children {
	margin-left: 25px !important;
	margin-top: 25px;
	margin-bottom: 25px;
}

li.children,
ul.children {
	list-style: none;
}

h6.parent,
li.children label,
li.children input,
div.children input,
div.children label {
	cursor: pointer;
	/*margin-top: : 25px;*/
}
/*FORM DE EDICTION POSTEO*/
.card_border {
	/* box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 1); */
	padding-top: 15px;
	border-radius: 4px;
	border: 1px solid #D9D9D9; 
}
.title-card-border{
	top: -17px;
	position: absolute; 
	background: white; 
	font-size: 12px;
}
/* Style switch */
.button-switch {
	font-size: 1.1em;
	position: relative;
}

.button-switch .switch {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 0;
	font-size: 1em;
	left: 0;
	line-height: 0;
	outline: none;
	position: absolute;
	top: 0;
	width: 0;
}
.button-switch .switch:before,
.button-switch .switch:after {
	content: "";
	font-size: 1em;
	position: absolute;
}
.button-switch .switch:before {
	border-radius: 1.25em;
	background: #bdc3c7;
	height: 1.875em;
	left: -0.25em;
	top: -0.1875em;
	transition: background-color 0.25s ease-out 0.1s;
	width: 3.5em;
}
.button-switch .switch:after {
	box-shadow: 0 0.0625em 0.375em 0 #666;
	border-radius: 50%;
	background: #fefefe;
	height: 1.5em;
	transform: translate(0, 0);
	transition: transform 0.25s ease-out 0.1s;
	width: 1.5em;
}
.button-switch .switch:checked:after {
	transform: translate(1.5em, 0);
}
.button-switch .switch.switch-purple:checked:before {
	background: #796aee;
}
/*Contador*/
.input_contador {
	appearance: textfield;
	-moz-appearance: textfield;
	text-align: center;
	background: white;
	width: 40px;
	height: 30px;
}

.hidden {
	display: none;
}

.section-graphic.loading {
	background: url(../img/loader-rings.svg) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-color: #dcdcdca8 !important;
	background-size: 8% !important;
}

.section-graphic.loading i {
	display: none;
}

#app.loading {
	background: url(../img/loader-rings.svg) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-color: #dcdcdca8 !important;
	background-size: 8% !important;
}

.sidemenu-container::-webkit-scrollbar {
	width: 12px; /* width of the entire scrollbar */
}

.sidemenu-container::-webkit-scrollbar-track {
	background: transparent; /* color of the tracking area */
}

.sidemenu-container::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2); /* color of the scroll thumb */
	border-radius: 20px;
	/* border: 3px solid orange; creates padding around scroll thumb */
}
.simple-table .v-data-table__wrapper::-webkit-scrollbar {
	width: 12px; /* width of the entire scrollbar */
}

.simple-table .v-data-table__wrapper::-webkit-scrollbar-track {
	background: transparent; /* color of the tracking area */
}

.simple-table .v-data-table__wrapper::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2); /* color of the scroll thumb */
	border-radius: 20px;
	/* border: 3px solid orange; creates padding around scroll thumb */
}

td a,
td a:hover {
	color: #796aee;
}

.bg-ucfp {
	background-color: #384b89;
	color: #fff;
}

html {
	/*overflow-y: hidden !important;*/
}
/* valoracion nps */
.box-valoracion,
.box-valoracion-final {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 1px 4px 16px rgb(50 63 212 / 20%);
    padding: 16px;
    border-radius: 16px;
    background-color: #fff;
    z-index: 9999999;
    min-width: 540px;
    text-align: center;
    max-width: 600px;
}
.box-valoracion-final {
    padding: 25px 16px;
    margin-bottom: 15px;
    box-shadow: inset 2px 3px 10px rgb(84 88 233 / 10%), 1px 4px 16px rgb(50 63 212 / 20%);
}
.box-valoracion-final .itemb p {
    color: #323FD4;
}
.box-item-val {
    background-color: #fff;
    box-shadow: inset 2px 3px 10px rgb(84 88 233 / 10%);
    padding: 22px 37px;
    gap: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 500px;
    position: relative;
    transition: all 1s ease;
    visibility: visible;
    opacity: 1;
    height: initial;
    z-index: 9999999;
    transform: scale(1, 1);
}
.box-item-val.hide,
.box-valoracion.hide,
.box-valoracion-final.hide {
    transform: rotate3d(50, 0, 0, 90deg) scale(1.5, 0);
    transition: all 1s ease;
    height: 0;
    opacity: 0;
    visibility: hidden;
    margin: 0;
    padding: 0;
}
.box-valoracion.remove,
.box-item-val.remove {
    display: none;
}
.box-item-val:hover {
    box-shadow: inset 0px 4px 16px rgb(84 88 234 / 35%);
    transition: .3s;
    border-color: rgb(84 88 234 / 49%);
}

.box-item-val.hide .itemb {
    display: none;
}
.box-item-val.val-init {
    cursor: pointer;
    margin-top: 0;
    background-color: #323FD4;
}
.box-item-val.val-init .itemb p {
    color: #fff;
    font-weight: 700;
}
.itemb p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    cursor: default;
}
.box-stars {
    display: flex;
}
.i-star {
    font-size: 30px;
    color: #adadad;
    cursor: pointer;
}
.i-star:hover,
.i-star-i.mdi-star {
    color: #ffeb3b;
}
.box-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.i-icon {
    text-align: center;
    cursor: pointer;
}
.i-img img {
    filter: grayscale(1);
    transition: .3s;
}
.i-icon:hover .i-img img,
.i-icon.selected .i-img img {
    filter: grayscale(0);
    transition: .3s;
}
.box-icons .i-icon .i-img img {
    max-width: 70px;
}
button.btn-send {
    background-color: #5458ea;
    border-color: #5458ea;
    padding: 8px 16px;
    color: #fff;
    border-radius: 8px;
    outline: none;
    min-width: 100px;
    min-height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
button.btn-send .spinner_btn_send.hide{
    display: none;
}
button.btn-send:disabled,
button.btn-send[disabled]{
  background-color: rgb(84 88 234 / 32%);
  cursor: not-allowed;
}
.box-comment, .box-send {
    width: 100%;
}
.box-send {
    text-align: right;
}
.box-saved {
    position: absolute;
    top: 5px;
    right: 10px;
    overflow: hidden;
    width: 25px;
    height: 35px;
}
.box-closed {
    right: -5px;
    top: -5px;
    z-index: 999999999;
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-saved i {
    color: #4caf50;
    font-size: 20px;
    transition: .5s;
    position: absolute;
    left: 15px;
    opacity: 0;
}
.box-closed i {
    color: #323fd4;
    font-size: 30px;
    transition: .5s;
}
.box-saved i.show{
    left: 0;
    transition: .5s;
    opacity: 1;
}
textarea.form-control.txtarea_val {
    border: 1px solid #D9DEE2 !important;
    border-radius: 10px !important;
}
span.lbl_txt_val {
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: #7B858F;
    margin-left: 15px;
}
.spinner_btn_send {
    margin-top: -12px;
    /* padding-bottom: 10px; */
}
/* spinner */

.spinner:before,
.spinner:after,
.spinner {
  border-radius: 50%;
  width: 7px;
  height: 7px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: round-dots 1.8s infinite ease-in-out;
  animation: round-dots 1.8s infinite ease-in-out;
}
.spinner {
  font-size: .625rem;
  /* margin: 7px auto; */
  position: relative;
  text-indent: -9999rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.spinner:before {
  left: -10px;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner:after {
  left: 10px;
}
.spinner:before,
.spinner:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes round-dots {
  0%,
  80%,
  100% {
    box-shadow: 0 7px 0 -.8125rem #fff;
  }
  40% {
    box-shadow: 0 7px 0 0 #fff;
  }
}
@keyframes round-dots {
  0%,
  80%,
  100% {
    box-shadow: 0 7px 0 -.8125rem #fff;
  }
  40% {
    box-shadow: 0 7px 0 0 #fff;
  }
}
/* spinner */

/* valoracion nps */
.form-control.is-valid.no-icon,
.form-control.is-invalid.no-icon {
	background-image: none !important;
}

.dropdown-header-menu {
    right: -0.6rem !important;
    left: -2.4rem !important;
}

.dropdown-icon-width{
	width: 1.8rem;
}

.dropdown-item-custom{
	display: flex !important;
	align-items: center !important;
}

.btn-unset{
	border: none !important;
	box-shadow: none !important;
	outline: none !important;
}

.toggle-eye{
	position: absolute;
	cursor: pointer;
	right: 0.5rem;
	top: 1.1rem;
	opacity: .6;
}

.text-primary-sub{
  color :#5458ea !important
}

.pointer {
	cursor: pointer !important;
}

/*solo soporta hasta tres por layout*/
/*one*/
.form-control.is-valid.one + .one.toggle-eye,
.form-control.is-valid.one + .invalid-feedback + .one.toggle-eye{
	color: #38c172 !important;
}
.form-control.is-invalid.one + .one.toggle-eye,
.form-control.is-invalid.one + .invalid-feedback + .one.toggle-eye{
	color: #dc3545 !important;
}
/*one*/


/*two*/
.form-control.is-valid.two + .two.toggle-eye,
.form-control.is-valid.two + .invalid-feedback + .two.toggle-eye{
	color: #38c172 !important;
}
.form-control.is-invalid.two + .two.toggle-eye,
.form-control.is-invalid.two + .invalid-feedback + .two.toggle-eye{
	color: #dc3545 !important;
}
/*two*/


/*three*/
.form-control.is-valid.three + .three.toggle-eye,
.form-control.is-valid.three + .invalid-feedback + .three.toggle-eye{
	color: #38c172 !important;
}
.form-control.is-invalid.three + .three.toggle-eye,
.form-control.is-invalid.three + .invalid-feedback + .three.toggle-eye{
	color: #dc3545 !important;
}
/*three*/
/*solo soporta hasta tres por layout*/

input[type="color"] {
	height: 2rem !important;
	padding: 0 !important;
}

.tab-primary{
    border: 1px solid #5458ea;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: #ffffff !important;
    color: #5458ea !important;
}

.tab-primary.v-tab--active{
    color: #ffffff !important;
    background-color: #5458ea !important;
}

/*css tooltip*/
.css-tooltip {
	position: relative;
}

.css-tooltip::before,
.css-tooltip::after {
  	position: absolute;
  	opacity: 0;
  	visibility: hidden;
  	transition: opacity .3s ease-in-out;
}

.css-tooltip:hover::before,
.css-tooltip:hover::after {
  	opacity: 1;
  	visibility: visible;
}

.css-tooltip::before {
  	content: attr(data-tooltip);
  	z-index: 12;
  	display: inline-block;
  	min-width: 8rem;
    background: rgba(97,97,97,.9);
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px 16px;
}

.css-tooltip::after {
  	content: "";
  	width: 0;
  	height: 0;
}

.css-tooltip--top::before,
.css-tooltip--top::after {
  	bottom: 100%;
  	left: 50%;
  	transform: translate(-50%);
  	margin-bottom: 15px;
}

.css-tooltip--top::after {
  	margin-bottom: 8px;
}

.css-tooltip--bottom::before,
.css-tooltip--bottom::after {
  	top: 100%;
  	left: 50%;
  	transform: translate(-50%);
  	margin-top: 15px;
}

.css-tooltip--bottom::after {
  	margin-top: 8px;
}

.css-tooltip--right::before,
.css-tooltip--right::after {
  	top: 50%;
  	left: 100%;
  	transform: translate(0, -50%);
  	margin-left: 15px;
}

.css-tooltip--right::after {
  	margin-left: 8px;
}

.css-tooltip--left::before,
.css-tooltip--left::after {
  	top: 50%;
  	right: 100%;
  	transform: translate(0, -50%);
  	margin-right: 15px;
}

.css-tooltip--left::after {
  	margin-right: 8px;
}
/*css tooltip*/

.border-solid-primary {
	border: 1px solid #5457E7 !important;
}

.table.table-primary-sub.table-bordered-rounded{
	border-style: hidden;
	border-radius: 10px;
    box-shadow: 0 0 0 1px #5457E7 !important;
}

.rounded-sm {
	border-radius: 6px !important;
}

.rounded-md {
	border-radius: 10px !important;
}

.rounded-lg {
	border-radius: 20px !important;
}

.rounded-left-md{
	border-top-left-radius: 9px !important;
	border-bottom-left-radius: 9px !important;
}

.shadow-md{
	box-shadow: 0px 5px 28px -2px rgba(0,0,0,0.10) !important;
}

.flex-none{
	flex: none !important;
}

.scroll-default::-webkit-scrollbar {
	width: 12px; /* width of the entire scrollbar */
}

.scroll-default::-webkit-scrollbar-track {
	background: transparent; /* color of the tracking area */
}

.scroll-default::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2); /* color of the scroll thumb */
	border-radius: 20px;
}

/*table con border radius */
.table.table-primary-sub thead th {
	box-shadow: inset 0px -2px 0 -1px #5457E7 !important;
}

.table.table-primary-sub tbody td {
	box-shadow: inset 0px 2px 0 -1px #5457E7 !important;
}

.table.table-primary-sub td.border-0{
	border: 0 !important;
}

.table.table-primary-sub tbody tr.no-border td {
	box-shadow: none !important;
}

table.table-scroll tbody {
  display: block;
  overflow-y: scroll;
}

table.table-scroll thead, table.table-scroll tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-style: hidden;
}
/*table con border radius */

.v-expansion-panel.no-shadow:before{
  box-shadow: none;
}

.bg-primary-sub {
	background-color:  #5457E7 !important;
}

.gap-md {
	gap: 2rem;
}

.gap{
	gap: 1rem;
}

.h-1 {
	height: 1.4rem;
}

.flex-1 {
	flex: 1 1 0%;
}

.fa-1_4x{
	font-size: 1.4rem;
}

.w-90{
	width: 90%;
}

.v-progress-linear__content {
    justify-content: unset !important;
}

.ml-24-porcent{
	margin-left: 24%;
}
.v-list-group__header__append-icon{
    min-width: auto !important;
}
